@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

::selection {
  background-color: #8a2c8c;
  color: white;
}

#menu {
  height: 75px;
  box-shadow: 0 2px 10px 2px #555;
}

#logo {
  display: flex;
  align-items: center;
  font-family: "Fredoka One", Arial, Helvetica, sans-serif;
  font-size: 36px;
}

.logo-icon {
  height: 48px;
  width: 48px;
}

#logo-text {
  margin-left: 15px;
}

.nav-item {
  display: flex;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 10px;
}

.nav-item:hover {
  background-color: var(--bs-secondary);
}

#home {
  height: calc(100vh - 75px);
}

#hero {
  height: 100%;
  background-size: cover;
  background-position: 40% 40%;
  opacity: 80%;
  animation: hero-fade 10s linear infinite;
}

@keyframes hero-fade {
  0% {
    filter: blur(5px);
  }
  10% {
    filter: none;
  }
  90% {
    filter: none;
  }
}

.hero-img-1 {
  background-image: url("../images/hero-photo-1.jpg");
}
.hero-img-2 {
  background-image: url("../images/hero-photo-2.jpg");
}
.hero-img-3 {
  background-image: url("../images/hero-photo-3.jpg");
}
.hero-img-4 {
  background-image: url("../images/hero-photo-4.jpg");
}
.hero-img-5 {
  background-image: url("../images/hero-photo-5.jpg");
}
.hero-img-6 {
  background-image: url("../images/hero-photo-6.jpg");
}

@media screen and (max-width: 500px) {
  #logo {
    font-size: 28px;
  }

  .logo-icon {
    height: 36px;
    width: 36px;
  }

  #logo-text {
    margin-left: 5px;
  }
}

@media screen and (max-width: 425px) {
  #logo {
    font-size: 24px;
  }

  .logo-icon {
    height: 28px;
    width: 28px;
  }
}