#dashboard {
    max-width: 95%;
    margin: 30px auto 20px;
}

#dashboard a {
    text-decoration: none;
    color: initial;
}

#dashboard-left,
#dashboard-right {
    width: 50%;
}

#dashboard h2,
#dashboard h4,
#dashboard h6 {
    margin-bottom: 0;
}

#dashboard-left-placeholder svg,
#dashboard-right-placeholder svg {
    fill: var(--bs-secondary);
    height: 40px;
    width: 40px;
}

#dashboard-right {
    margin-left: 40px;
}

#dashboard-left-header,
#dashboard-right-header {
    padding: 15px 20px;
    background-color: var(--bs-secondary);
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #bbb;
}

.dashboard-stats {
    display: flex;
    align-items: center;
}
.dashboard-stats h6 {
    margin-left: 5px;
}
.dashboard-stats h6:last-of-type {
    margin-right: 15px;
}
.dashboard-stats h6:not(:first-of-type)::before {
    content: "/ ";
}

#dashboard-left-container,
#dashboard-right-container {
    justify-content: center;
}

.dashboard-table {
    height: fit-content;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
}

.dashboard-table tr:not(:last-child) {
    border-bottom: 1px solid #dee2e6;
}

.dashboard-table tbody tr:hover {
    cursor: pointer;
}

.mobile-please-rotate {
    display: none;
}

#user-details-table {
    height: fit-content;
    min-width: 250px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
}

#user-details-table tr {
    display: flex;
    justify-content: space-between;
}

#user-details-table tr:not(:last-child) {
    border-bottom: 1px solid #dee2e6;
}

#user-details-table td:first-child {
    flex-grow: 1;
    font-weight: 600;
}
#user-details-table td:last-child {
    text-align: right;
    flex-grow: 4;
}

#user-email:hover,
#user-phone:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1200px) {
    #dashboard {
        margin-top: 20px;
        width: 95%;
        flex-direction: column;
    }

    #dashboard-body {
        flex-direction: column;
    }

    #dashboard-left,
    #dashboard-right {
        width: initial;
    }

    #dashboard-right {
        margin-left: 0;
        margin-top: 20px;
    }

    .dashboard-stats {
        display: none;
    }

    #dashboard-left-placeholder {
        flex-direction: column;
    }

    #dashboard-left-placeholder h4,
    #dashboard-right-placeholder h4 {
        margin-top: 10px;
        text-align: center;
    }

    #user-details-table {
        max-width: 100%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .dashboard-table {
        display: none;
    }

    .mobile-please-rotate {
        display: initial;
        text-align: center;
    }
}
