@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: "Fredoka", Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 123, 0, 0.6) !important;
}

::selection {
  background-color: #8a2c8c;
  color: white;
}