#menu {
    height: 75px;
    box-shadow: 0 1px 10px 1px #444;
}

#menu a,
#menu a:hover {
    text-decoration: none;
}

.nav-item {
    display: flex;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
}

.nav-item:hover,
.active .nav-item {
    background-color: var(--bs-secondary);
    color: white;
}

svg #paw-nav {
    fill: currentColor;
}

@media screen and (max-width: 768px) {
    .offcanvas .btn-primary {
        background-color: initial;
        border: none;
    }
    .offcanvas .btn-primary:active {
        background-color: initial;
    }

    .offcanvas a {
        text-decoration: none;
    }

    .offcanvas button {
        color: white;
    }

    .active .nav-item {
        background-color: var(--bs-primary);
        color: black;
    }
}
